<a href="https://colab.research.google.com/github/Alison-Azman/Module-2-Alison-Azman/blob/main/MCON_232_FQ_module3_strings_lab_Alison_Azman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3 – Strings Lab

**MCON 232 FQ – In‑Class Lab Notebook**

This notebook is for you to work through during class.  
Run cells, try small experiments, and complete the **TODO** parts.

⚠️ *Do not erase the prompts.*  Add your work **below** the comments or where indicated.

Strings are immuatble- so when you make a change to a string you are creating a new string
- So any method that appears to edit the string is actually creating a new one

Strings are iterable

In [6]:
my_str="hello"
#Different locations:
print(id(my_str))
#concatination for string:
my_str= my_str+" world!"
print(my_str)
print(id(my_str))
#They are point to 2 different locations completely
print()

#Same thing as doing:
my_str="hello"
my_str+= " world!"
print(my_str)

132967462690016
hello world!
132966902530608

hello world!

In [16]:

my_str="Touro LAS"
my_str.replace("T", "z")
print(my_str)#my_str is not changed because did not assign it
#To change it
my_str=my_str.replace("T","Z")
print(my_str)

print()
print("Using the function:")
def oo():
  print("before stripping:")
  my_str= "          Touro LAS           "
  print(my_str)
  return my_str.strip().replace("T","Z").upper() #You can stack methods
  #This is an efficiency issue becuase every time a method recives a str it looks
  # at the whole thing over and over again
print(oo())

Touro LAS
Zouro LAS

Using the function:
before stripping
          Touro LAS
ZOURO LAS

Stay consistent with quotes

'He said "hello"'

"She said \'hello\'"

In [18]:
print("She said \'hello\'")
print('He said "hello"')

She said 'hello'
He said "hello"

In [22]:
our_str=oo()
print(our_str)
print(our_str[0])
print(len(our_str))

before stripping
          Touro LAS
ZOURO LAS
Z
9

## 1. Strings as Sequences
A string is a sequence of characters. You can use `len()`, indexing, and slicing, just as with other sequence types.

Below we define a sample string to explore:

In [7]:
s = "Touro LAS"
print("The string is:", s)
print("Length of s:", len(s))  # Example

# TODO: Print the first and last character of s using indexing.
print("First character:", s[0])
print("Last character:", s[-1])

The string is: Touro LAS
Length of s: 9
First character: T
Last character: S

In [27]:
# TODO: Explore some slices of s.
s = "Touro LAS"

# Example (already done for you):
print("s[0:4]:", s[0:4])   # expect Tour

# Now you try:
# 1) Print the slice that gives you just "LAS".
print(s[-3:])
# 2) Print the slice that gives you "Touro".
print(s[0:5])
# 3) Print the slice that gives you everything except the first character.
print(s[1:])
# Use print() so you can see the results.

s[0:4]: Tour
LAS
Touro
ouro LAS

To get every second letter s[::2]
To reverse the string s[::-1]

In [31]:
s = "asfsadfasd"
try :
  s[0] = "asdfasd"
except TypeError as e :
  print("not accepted", e)

try:
  print(s[25])
except IndexError as d:
  print("Not accepted",d)

not accepted 'str' object does not support item assignment
Not accepted string index out of range

### Reflection
- In slicing `s[start:stop]`, which index is **included**?  
- Which index is **not included**?
- What does a negative index (e.g. `s[-1]`) refer to?

Write a short explanation in a comment in the cell below.

In [ ]:
# TODO: In comments, explain slicing in your own words.
# For example: start is ..., stop is ..., negative indices mean ...
# Start is inclusive and stop is not
#stop is not included
#negative indices starts at the last item of the list and goes backwards

## 2. Iterating Over Strings
Strings are **iterable**, so you can loop through them character by character.

In [43]:
str_1="Today is Sunday"
#Way 1
print("WAY 1")
for char in str_1:
  print(char, end=" ")
print()

print()
#way 2
print("WAY 2")
for index in range(len(str_1)):
  print(str_1[index], end=" ")
print()

#way 3
print()
print("WAY 3")
for index, char in enumerate(str_1):
  print(index,char)

WAY 1
T o d a y   i s   S u n d a y

WAY 2
T o d a y   i s   S u n d a y

WAY 3
0 T
1 o
2 d
3 a
4 y
5
6 i
7 s
8
9 S
10 u
11 n
12 d
13 a
14 y

In [38]:
school = "Touro"

print("Iteration style #1 – direct:")
for ch in school:
    print(ch)

print()
# TODO: Using range(len(school)), print the index and the character on each line.
# Example format: Index 0: T
for i in range(len(school)):
  print(i, school[i])
#     ...

Iteration style #1 – direct:
T
o
u
r
o

0 T
1 o
2 u
3 r
4 o

In [46]:
# TODO: Use enumerate() to loop over school and print both index and character.
school = "Touro"

for index, ch in enumerate(school):
  print(index, ch)

0 T
1 o
2 u
3 r
4 o

## 3. Membership Tests
You can test whether a substring is contained in a string using `in` and `not in`.

In [55]:
#memebrship
str_1="Today is Sunday"
#Upper and lower are not equal to each other
#so do
str_1+=str_1.lower()
print("today" in str_1)
print("hi" in str_1)

True
False

In [54]:
phrase = "Touro Graduate Center for Technology"

print("our" in phrase)      # example
print("xyz" in phrase)      # example

# TODO: Write 3 more membership tests below.
# 1) Something that should be True.
print("Grad" in phrase)
# 2) Something that should be False.
print("hi" in phrase)
# 3) A test using "not in".
print("Touro" not in phrase)
# Print the results so you can verify your predictions.

True
False
True
False
False

In [60]:
x='Touro'
y=" LAS"
z= x+y
#Or can do x+=y
print(z)
print(x, "==", z)
#cant do z+=3
#Can do
z+= str( 3)
print(z)

j="ha"

j*=3
print(j)

Touro LAS
Touro == Touro LAS
Touro LAS3
hahaha

## 4. Immutability in Action
Strings are **immutable**. You cannot change them in place; you must create a new string.

In [65]:
s="yellow"
print(s.replace("w", "").replace("y","j"))

s=s[0:-1].replace("y", "J")
print(s)

jello
Jello

In [67]:
s = "Hello"
print("Original:", s)

# Uncomment the next line and run to see what happens:
#s[0] = "J"  # This should raise a TypeError

# TODO: Instead of trying to modify s in place, build a NEW string
# that changes the H to J (so the result is "Jello").
# Hint: use slicing and concatenation.
new_s = s[0:].replace("H", "J")
print("New string:", new_s)

Original: Hello
New string: Jello

## 5. Common String Methods (Reference)
Here are some string methods you may find useful in the next exercises:

- `s.lower()` – return a lowercase version of the string
- `s.upper()` – return an uppercase version of the string
- `s.strip()` – remove whitespace at the start and end
- `s.isalpha()` – True if all characters are letters
- `s.isdigit()` – True if all characters are digits
- `s.isspace()` – True if the string is all whitespace
- `s.startswith(x)` / `s.endswith(x)` – test prefixes/suffixes
- `s.find(x)` – find first index of `x` or -1 if not found
- `s.replace(old, new)` – return new string with replacements
- `s.split(delim)` – split into a list on `delim` (or whitespace)
- `'sep'.join(list)` – join list of strings with a separator

You do **not** need to memorize all of these right now, but practice will make them feel natural.

Methods :

s.count(x) # count occurrences

s.find(x)  #first position or -1

s.replace(a,b) # swap

delimeter.join(list) # glue together


s.split()  # break apart string into a list

In [86]:
#Methods

#print("Hello world today is SUnday".split())
s="Hello-world-today is SUnday".split("-")

#print('@@@@@'.join(s))
print(' '.join(s))

Hello world today is SUnday

In [100]:
#Lexicogrpahic
s1="Apple"
s2="Banana"
s3="Argentina"
print(s1<s2)
print(s2<s1)
print(s1<s3)

True
False
True

In [101]:
# split and join

# Defaults to splitting on space
my_list1 = "The rain in spain stayed mainly in the plane". split()
print(my_list1)

# Joing back
# Concatenating with a blank space in between
my_str = " ".join(my_list1)
print(my_str)

#Can choose the char to split on
my_list2 = "Let-us-go-then you-and-I".split("-")
print(my_list2)

# Concatenating with a character of choice in between
my_str = "-".join(my_list1)
print(my_str)

['The', 'rain', 'in', 'spain', 'stayed', 'mainly', 'in', 'the', 'plane']
The rain in spain stayed mainly in the plane
['Let', 'us', 'go', 'then you', 'and', 'I']
The-rain-in-spain-stayed-mainly-in-the-plane

### 5.1 Cleaning Up Input-Normalize
Suppose we get messy user input with extra spaces and mixed case.
Use string methods to clean it up.

In [76]:
raw_name = "   cHaNa   "
print("Raw:", repr(raw_name))

# TODO: 1) Remove the extra spaces at the start and end.
#print(raw_name.strip())
# TODO: 2) Convert the result to title case (first letter capitalized).
#print(raw_name.strip().title())
# Hint: you can use strip() and either lower()/upper() creatively,
# or try .capitalize() or .title().

cleaned = raw_name.strip().title()
print("Cleaned:", cleaned)

Raw: '   cHaNa   '
Cleaned: Chana

### 5.2 Splitting and Joining
Use `split()` to break a string apart, and `' '.join(...)` to put it back together.

In [102]:
data = "apple,banana,pear,grape"
print("Original:", data)

# TODO:
# 1) Split data into a list of fruits using a comma as the delimiter.
fruit= data.split(",")
# 2) Print the list.
print(fruit)
# 3) Join the list back together using " | " as the separator.
final=" | ".join(fruit)
print(final)
#    The final string should look like: "apple | banana | pear | grape"

Original: apple,banana,pear,grape
['apple', 'banana', 'pear', 'grape']
apple | banana | pear | grape

### 5.3 Find and Replace
Practice using `find()` and `replace()`.

In [96]:
sentence = "Touro is great. I love Touro!"

# TODO:
# 1) Use find() to locate the first index where "Touro" appears.
sentence.find("Touro")
# 2) Use replace() to change "Touro" to "Touro College" in the sentence.
new=sentence.replace("Touro", "Touro College")
# 3) Print the original and the modified sentence.
print(sentence)
print(new)
# Remember: replace() returns a NEW string.

Touro is great. I love Touro!
Touro College is great. I love Touro College!

In [121]:
f="Touro"
s="LAS"
m="Sunday Morning"

print(f"{f =} {s =} {m =}")

f ='Touro' s ='LAS' m ='Sunday Morning'

Anagram
create a function that accepts 2 strings and compares them, such that, if each contains exactly the same charachters- and no addidtional charachters, your functions returns true, otherwise false.
normalize all data

In [132]:
def comp(str1,str2):
  str1=str1.strip().lower()
  str2=str2.strip().lower()
  if str1==str2:
    return True
  else:
    return False
print(comp("hello  ", "Hello  "))

True

Assignment 2:
Palindrome
Given 2 strings is one word the same as the other if reversed

In [127]:
def pali(str1, str2):
  str1=str1.strip().lower()
  str2=str2.strip().lower()
  if str1==str2[::-1]:
    return True
  else:
    return False

print(pali("racecar", "racecar"))

True

## 6. Encoding and Decoding Text
Python strings are Unicode. To write them to a file or send them over the network, we need to encode them into bytes.

**Key ideas:**
- `text.encode('utf-8')` → Unicode text → bytes
- `b.decode('utf-8')` → bytes → Unicode text

In [103]:
text = "Olam עולם"
print("Text:", text)

# Example: encode to UTF-8 bytes
encoded = text.encode("utf-8")
print("Encoded bytes:", encoded)

# TODO:
# 1) Decode the encoded bytes back into a string using utf-8.
# 2) Print the decoded value and check that it matches the original text.

Text: Olam עולם
Encoded bytes: b'Olam \xd7\xa2\xd7\x95\xd7\x9c\xd7\x9d'

## 7. F-Strings Basics
F-strings (formatted string literals) let us embed expressions directly inside strings.

Syntax: `f"Hello, {name}!"`

In [108]:
name = "Chana"
course = "MCON 141"

# Example:
print(f"Hello, {name}! Welcome to {course}.")

# TODO:
# 1) Create two variables, day and topic.
day="Sunday"
topic="Programming"
# 2) Use an f-string to print a friendly message that includes both.
#    Example format (your words): Today is <day> and we are learning <topic>.
print(f"Today is {day} and we are learning {topic}")

Hello, Chana! Welcome to MCON 141.
Today is Sunday and we are learning Programming

< left align

> right align

^ center align

In [110]:
for item in [("A", 10),("B",200), ("C",4)]:
  print(f"{item[0]:<5} | {item[1]:>5}")
#where 5 is how many units in the direction it's going

A     |    10
B     |   200
C     |     4

In [118]:
print(f"{42:05d}")
price=12.3466
print(f"${price:,.2f}")

00042
$12.35

### 7.1 F-Strings and Field Width
Use field width and alignment for simple tabular output.

In [119]:
items = [("A", 10), ("B", 200), ("C", 4)]

# Example row format using f-strings:
print("Item  | Value")
print("--------------")

# TODO: In the loop, use an f-string with alignment so that
# the item is left-aligned in a width of 5, and the value is
# right-aligned in a width of 5.
# Hint: {expr:<5} and {expr:>5}

for label, value in items:
    print(f"{label:<5} | {value:>5}")

Item  | Value
--------------
A     |    10
B     |   200
C     |     4